$color-orange: #f9572e;
$color-focus: #ff7b59;
$color-green: #33b5a3;
$color-grey: #666;
$color-white: #ffffff;
$color-black: #000000;

$transition-700: 0.7s;
$transition-600: 0.6s;
$transition-400: 0.4s;
$transition-200: 0.2s;
