@import "normalize.scss";
@import "fonts.scss";
@import "base/variables";

* {
    font-family: "Muller", sans-serif;
}

.main-container {
    position: relative;
    max-width: 1555px;
    margin: 0 auto;
}

.container {
    position: relative;
    max-width: 984px;
    margin: 0 auto;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

a {
    text-decoration: none;
}
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

@import "blocks/btn";
@import "blocks/promo";
@import "blocks/title";
@import "blocks/repair";
@import "blocks/slider";
@import "blocks/connection";
@import "blocks/submit";
@import "blocks/footer";
