.btn {
    padding: 0;
    padding-top: 17px;
    padding-right: 30px;
    padding-bottom: 14px;
    padding-left: 30px;

    font-weight: 500;
    line-height: 1.13;
    letter-spacing: 0.1pt;

    color: #fff;
    background: none;
    background-color: $color-orange;

    border: none;
    border-radius: 30px;
    box-shadow: 0 7px 15px 0 rgba(249, 87, 46, 0.6);

    transition: 300ms;

    &:hover,
    &:focus {
        background-color: #ff7b59;
        box-shadow: 0 15px 20px 0 rgba(249, 87, 46, 0.7);
    }
}
