.slider {
    padding-top: 184px;
    position: relative;
    overflow: hidden;
    margin-bottom: 160px;
    &__subtitle {
        margin-bottom: 53px;
    }

    &__wrapper {
        display: flex;
        width: 194%;
        transform: translate(-25%);
        transition: all 700ms ease;
    }

    &__item {
        position: relative;
        height: 13.8274336%;
        margin-right: 4.5630531%;
        opacity: 0.6;

        &:first-child {
            margin-left: 12%;

            .slider__text {
                right: -150px;
            }
        }

        &:last-child {
            margin-right: 12%;

            .slider__text {
                right: -180px;
            }
        }

        &-active {
            margin-right: 6%;
            opacity: unset;

            .slider__text {
                display: block;
            }
        }
    }

    &__text {
        display: none;
        position: absolute;
        top: 0;
        right: -160px;
        margin: 0;
        font-size: 13px;
        line-height: 1.54;
        color: $color-grey;
    }

    &__btns {
        position: absolute;
        bottom: 5px;
        left: 68.5%;
    }

    &__btn {
        width: 24px;
        height: 46px;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;

        &-rigth {
            background: url("../../img/btn-right.svg") center center/cover no-repeat;
            margin-left: 25px;

            &:hover,
            &:focus {
                background: url("../../img/btn-right-click.svg") center center/cover no-repeat;
                transform: translateY(-7px);
                height: 33px;
            }
        }

        &-left {
            background: url("../../img/btn-right.svg") center center/cover no-repeat;
            transform: rotate(180deg);

            &:hover,
            &:focus {
                background: url("../../img/btn-right-click.svg") center center/cover no-repeat;
                transform: translateY(-7px) rotate(180deg);
                height: 33px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .slider {
        &__wrapper {
            transform: translate(-32%);
        }

        &__item {
            &:last-child {
                margin-right: 7%;
            }
        }

        &__btns {
            left: 64.5%;
        }
    }
}

@media (max-width: 1274px) {
    .slider {
        .container {
            max-width: 768px;
        }
        &__wrapper {
            transform: translate(-32%);
        }
        &__item {
            &:last-child {
                margin-right: 7%;
            }
        }

        &__btns {
            left: 64.5%;
        }
    }
}

@media (max-width: 1074px) {
    .slider {
        &__item {
            opacity: 0;
            &-active {
                width: 50%;
                opacity: unset;
            }
        }
        &__btns {
            left: 78.5%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }
    .slider {
        height: 70vh;
        &__item {
            &-active {
                width: 76%;
            }
        }
    }
}
