.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.1px;
    color: #000000;

    &_fsz64 {
        font-size: 64px;
        letter-spacing: -0.5px;
    }

    &_fsz24 {
        font-size: 24px;
    }

    &_fsz21 {
        font-size: 21px;
    }
}

.subtitle {
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.62px;
    text-transform: uppercase;
    color: $color-green;
    margin-top: 8px;
    &_fsz16 {
        font-size: 16px;
    }
}
